body {
  background: #f8f9fa;
}

.auth-card {
  max-width: 420px;
  margin: auto;
  margin-top: 80px;
}

.auth-card h4 {
  text-align: center;
  margin-bottom: 20px;
}
.navbar .nav-link.active {
  font-weight: bold;
  color: #0d6efd !important;
}
